@use "../../scss/" as *;

.completed label {
    text-decoration: line-through;
}

.list-group-item {
    position: relative;

    .btn-danger {
        position: absolute;
        display: none;
        right: .8em;
    }

    &:hover {
        .btn-danger {
            display: block;
        }
    }
}

.form-check {
    padding-top: .2em;
    padding-bottom: .2em;
    @include flex(center, center);

    &-input {
        min-width: 1.2em;
        min-height: 1.2em;
        margin-right: .6em;
        margin-bottom: .3em;
    }
}